# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Environment
.env
*.tfvars

# Terraform
.terraform/
terraform.tfstate*
.terraform.lock.hcl

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Keys
keys/
lambda.zip
backend/.venv312/
docs/reference/
